/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --body-bg-color: #e0e3eb;
    --container-bg-color: #ffffff;
    --display-color: #000e1a;
    --display-bg-color: #efefef;
    --button-color: #2b292a;
    --button-bg-color: #eee;
    --button-active-bg-color: #ddd;
    --operator-color: orange;
}

.darkmode {
    --body-bg-color: #101010;
    --container-bg-color: #212121;
    --display-color: #ffffff;
    --display-bg-color: #2b292a;
    --button-color: #c9c9c9;
    --button-bg-color: #343434;
    --button-active-bg-color: #303030;
    --operator-color: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease;
}

body {
    background: var(--body-bg-color);

}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    /* padding: 20px 20px 20px; */
    background: var(--container-bg-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

}

.display {
    height: 150px;
    width: 100%;
    outline: none;
    border: none;
    padding: 20px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 50px;
    color: var(--display-color);
    pointer-events: none;
    background-color: var(--display-bg-color);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.buttons button {
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    background-color: var(--button-bg-color);
    color: var(--button-color);
}

.buttons button:active {
    transform: scale(0.97);
    background-color: var(--button-active-bg-color);
}

.buttons .operator {
    color: var(--operator-color);
}

.buttons .operator[data-value="="] {
    background-color: var(--operator-color);
    color: var(--container-bg-color);
}

#theme-switch {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: var(--container-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-switch svg {
    fill: var(--operator-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

footer {
    padding-top:20px;
    max-width: 300px;
    font-size: 10px;
    color:var(--display-color);
}
footer a{
    color:var(--operator-color);
}